body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0000FF; /* Dark background color */
    color: #fff; /* Light text color */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 80px; /* Adjust the size as needed */
}

cover-image {
    max-height: 400px;
    overflow: hidden;
    position: relative; /* Added position relative */
}

cover-image img {
    width: 100%;
    height: auto;
    display: block; /* Added to remove extra space below image */
}

.cover-image .description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

main {
    max-width: 800px;
    margin: 0 auto; /* Adjusted margin */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Fixed color format */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Lighter shadow color */
}

section {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.subscription {
    border: 3px solid #f4f4f4; /* Slightly lighter border color */
    padding: 20px;
    flex: 1;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
